.topnav {
  background-color: black;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 30;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 7px;
  font-family: verdana;
}

.topnav a:hover {
  background-color: greenyellow;
  color: black;
  border: 2px solid red;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  border-radius: 5px;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.topnav a.active:hover {
  background-color: greenyellow;
  color: black;
}

img {
  border-radius: 30%;
  -webkit-box-shadow: 0 5px 10px 0 #FF0000;
          box-shadow: 0 5px 10px 0 #FF0000;
  height: 300px;
  width: 500px;
  float: right;
  max-width: 100%;
  height: auto;
}

img:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

h1 {
  text-shadow: 0 5px 10px blue;
  font-size: 60px;
  text-align: center;
  font-family: verdana;
  color: white;
  margin-top: 100px;
}

h1:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

h2 {
  font-size: 35px;
  font-family: verdana;
  text-shadow: 0 3px 10px green;
  color: white;
}

h2:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

@media screen and (max-width: 600px) {
  .topnav {
    height: 120px !important;
    overflow: auto !important;
  }
}

@media screen and (max-width: 960px) {
  img {
    float: left !important;
    margin-left: 20px;
  }
}

#cont {
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px goldenrod;
          box-shadow: 0 5px 10px goldenrod;
  height: 300px;
  width: 500px;
  float: right;
}

.last:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

h1 {
  text-shadow: 0 0 10px blue;
  font-size: 75px;
  text-align: center;
  font-family: verdana;
  color: white;
}

li:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

ul {
  font-size: 30px;
  font-family: verdana;
  text-shadow: 0 0 10px blue;
  color: white;
}

ul img {
  height: 50px;
  width: 80px;
  float: left;
  -webkit-box-shadow: 0 3px 7px yellowgreen;
          box-shadow: 0 3px 7px yellowgreen;
}

#cont1 {
  height: 300px;
  width: 500px;
  float: left;
}

@media screen and (max-width: 960px) {
  #cont {
    float: left;
  }
}
/*# sourceMappingURL=contact1.css.map */