@import "./topnav";

ul{
    font-size: 30px;
    font-family:  verdana;
    text-shadow: 0 0 10px blue;
    color: white;
  }
  li:hover{
    transform: scale(1.05,1.05);
    transition-duration: 0.25s;
  }
  #hobby{
  
    height: 300px;
    width: 500px;
    float: left;
    border-radius: 20px;
    padding: 20px;
    text-align:left;
    position: relative;
  }